.pane {
    background-color: #E4E4E4;
}

/*   HOME   */

.padding-info {

}

.info-icon {
    font-size: 32px;
    padding-right: 5px;
}

.ion-checkmark-round {
    font-size: 22px;
    padding-right: 5px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
}
